<form action="/admin/del" method="post">
<br />
<h3 style="color:snow">Enter the movie name :</h3><input type="text" required name="name" style="height:25px; width:30%; border-radius:3px"/>
<br />
 <br />
    <input type="submit" value ="Delete"  style="height:32px ;width:12%;font-size:24px " />
<br />

<br />
   <h3 style="color:snow">
       @ViewBag.x
   </h3> 

    <br />

<br />
</form>