<form action="/admin/upimg" method="post">
<br />
<h3 style="color:snow">Enter the  Movie name for slot 1 :</h3><input type="text" id="name" name="name1" style="height:25px; width:30%; border-radius:3px"required/>
<br />
<h3 style="color:snow">Enter the  Movie name for slot 2 :</h3><input type="text" name="name2" style="height:25px; width:30%; border-radius:3px "required/>
<br />
<h3 style="color:snow">Enter the  Movie name for slot 3 :</h3><input type="text" name="name3"style="height:25px; width:30%; border-radius:3px"required/>
<br />
<h3 style="color:snow">Enter the  Movie name for slot 4 :</h3><input type="text" name="name4" style="height:25px; width:30%; border-radius:3px"required/>
<br />
<br />
<br />
    <input type="submit" value ="Update" style="height:32px ;width:12%;font-size:24px " />
<br />
<br />
    <h3></h3>
<br />
    
<br />
</form>
