<br />
<br />
<form id="ff1" action="/user/forg" method="post">
<h3 style="color:snow">Enter your name :</h3><input type="text" id="name" name="name" required style="height:25px; width:30%; border-radius:3px"/>
<br />

<h3 style="color:snow">Enter the number :</h3><input type="text" name="number" required  style="height:25px; width:30%; border-radius:3px"/>
<br />
      <br />
    <input type="submit"  value="get-password" id="submit"  style="height:32px ;width:16%;font-size:24px " />
<br />
    <h3 style="color:orangered">Your password is : @ViewBag.x</h3>
     <br />
    </form>