<br />
<br />
 <div class="col-md-4" style="padding-left:0px">
      
          <h3 style="color:aqua"> Genere of movie : @ViewBag.x.description</h3>
        <div style="background-image:url(/images/@ViewBag.x.image); height:300px; background-size:100% 100%;">

        </div>
<br />
<br />
