

<br />
<br />
<h3 style="color:snow">Mr.@ViewBag.x Welcome to the first 7-D cinema of the town. </h3>
<br />
<br />
<a href="/home/book" class="active" style="font-size:24px">Book-Tickets</a>
<br />
<br />

<a href="../home/index" class="active" style="font-size:24px">Home page</a>
<br />
<br />