<script>
        $(document).ready(function () {
            $('#slot').focusout(function () {

                var c = $('#slot').val();
                if(c==1 ||c==2||c==3||c==4)
                {}
                else
                
                {
                    alert("You can only select slot number from (1-4) only.  ");
                    $('#slot').val("");
                }
                    }
                );
            });
        
</script>
<form  action="/user/book" method="post">
<br />
<h3 style="color:snow">Enter the Slot number :</h3><input type="text" id="slot" name="slot" style="height:25px; width:30%; border-radius:3px  "required/>
<br />
<h3 style="color:snow">Enter the number of tickets :</h3><input type="text" name="tickets"style="height:25px; width:30%; border-radius:3px"required/>
<br />
<br />
<br />
    <input type="submit" value ="book" style="height:32px ;width:12%;font-size:24px " />
<br />
<br />
    <h3>@ViewBag.x</h3>
<br />
    
<br />
</form>